<template>
  <div>
     <h1>{{ message }}</h1>
     <ul>
       <li>
         <router-link :to="{name: 'home'}">Home</router-link>
       </li>
       <li>
         <router-link :to="{name: 'contacts'}">Contacts</router-link>
       </li>
       <li><router-link :to="{name: 'info'}">Info</router-link></li>
     </ul>
     <router-view></router-view>
  </div>
</template>
<script>
export default {
  name: "App",
  data: () => ({
    message: 'Layout login'
  })
}
</script>
<style lang="scss" scoped>
li{
  color: #333;
}
</style>
