<template>
  <div>
     <h1>{{ message }}</h1>
     <ul>
       <li>
         <router-link :to="{name: 'Dashboard'}">Home</router-link>
       </li>
       <li>
         <router-link :to="{name: 'users'}">Usuarios</router-link>
       </li>
     </ul>
     <router-view></router-view>
  </div>
</template>
<script>
export default {
  name: "layout",
  data: () => ({
    message: 'Layout Dashboard'
  })
}
</script>
<style lang="scss" scoped>
li{
  color: #333;
}
</style>
